svg text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
svg text::selection {
    background: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem
}

p {
  margin-top: 0;
  margin-bottom: 1rem
}

.iris-row {
  margin-left: -15px;
  margin-right: -15px
}

.iris-row::after {
  content: "";
  display: table;
  clear: both
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col-xs-1 {
  float: left;
  width: 8.333333%
}

.col-xs-2 {
  float: left;
  width: 16.666667%
}

.col-xs-3 {
  float: left;
  width: 25%
}

.col-xs-4 {
  float: left;
  width: 33.333333%
}

.col-xs-5 {
  float: left;
  width: 41.666667%
}

.col-xs-6 {
  float: left;
  width: 50%
}

.col-xs-7 {
  float: left;
  width: 58.333333%
}

.col-xs-8 {
  float: left;
  width: 66.666667%
}

.col-xs-9 {
  float: left;
  width: 75%
}

.col-xs-10 {
  float: left;
  width: 83.333333%
}

.col-xs-11 {
  float: left;
  width: 91.666667%
}

.col-xs-12 {
  float: left;
  width: 100%
}

.card {
  background-color: inherit;
  border: none
}

.card-title {
  border-bottom: 1px solid;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 300
}