<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Iris Report</title>

  <!-- Stylesheets -->
  <link href="css/compat.css" rel="stylesheet"/>
  <link href="css/minimal.css" rel="stylesheet"/>
  <!-- Global variables for SVG JavaScript -->
  <script src="js/globals.js"></script>
  <!-- General interaction Javascript -->
  <script src="js/interaction.js"></script>
</head>

<body style="padding-top: 0px;">
  <div>
    <div>
      <div class="iris-row">
        <div class="col-xs-8" id="chain-view">
          <div class="card card-block">
            <h4 class="card-title m-b-2">Chain View
              <div style="float: right; margin-right: 20px;">
                <label><font size="3">Previous</font></label>
                <label class="switch">
                  <input id="model-toggle" type="checkbox" checked="true" onclick="toggleModel()"></input>
                  <span class="slider round"></span>
                </label>
                <label><font size="3">Latest</font></label>
              </div>
            </h4>
INJECTION_POINT_1
            <div align="center" style="margin-top: -10px;">
INJECTION_POINT_2
            </div>
          </div>
        </div>
        <div class="col-xs-4" id="residue-view">
          <div class="card card-block">
            <h4 class="card-title m-b-2">Residue View</h4>
            <h6 id="residue-summary">Select a residue...</h6>
            <div class="col-xs-12" id="residue-chart-div" align="center">
INJECTION_POINT_3
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>